/* Colors (gruvbox) */
/*
@define-color black	#282828;
@define-color red	#cc241d;
@define-color green	#98971a;
@define-color yellow	#d79921;
@define-color blue	#458588;
@define-color purple	#b16286;
@define-color aqua	#689d6a;
@define-color gray	#a89984;
@define-color brgray	#928374;
@define-color brred	#fb4934;
@define-color brgreen	#b8bb26;
@define-color bryellow	#fabd2f;
@define-color brblue	#83a598;
@define-color brpurple	#d3869b;
@define-color braqua	#8ec07c;
@define-color white	#ebdbb2;
@define-color bg2	#504945;
*/

/* Colors (dracula) */
@define-color foreground	#f8f8f2;
@define-color background	rgba(40, 42, 54, 1);
@define-color orange	#ffb86c;
@define-color gray	#44475a;
@define-color black #21222c;
@define-color red	#ff5555;
@define-color green	#50fa7b;
@define-color yellow	#f1fa8c;
@define-color cyan	#8be9fd;
@define-color blue	#6272a4;
@define-color purple	#bd93f9;
@define-color pink	#ff79c6;
@define-color white #ffffff;
@define-color brred #ff6e6e;
@define-color brgreen #69ff94;
@define-color bryellow #ffffa5;
@define-color brcyan #a4ffff;
@define-color brblue #6272a4;
@define-color brpurple #d6acff;
@define-color brpink #ff92df;

@define-color arch_blue #89b4fa;

@define-color workspace_background	@background;
@define-color workspace_button	@foreground;
@define-color workspace_active	@white;
@define-color workspace_active_background	@red;
@define-color workspace_urgent	@white;
@define-color workspace_urgent_background	@brred;
@define-color workspace_hover	@black;
@define-color workspace_hover_background	@pink;
@define-color critical	@orange;
@define-color warning	@yellow;


@keyframes blink {
    to {
        background-color: @white;
        color: @black;
    }
}

* {
    border: none;
    border-radius: 0;
    font-family: "monospace";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @foreground;
    font-family: "JetBrainsMono Nerd Font", "Noto Sans", sans-serif;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces {
    background: @workspace_background;
    opacity: 1;
    transition: none;
    padding: 5px 5px;
    border-radius: 5px;
}

#workspaces button, #workspaces button.persistent {
    background: transparent;
    color: @workspace_button;
    transition: none;
}

#workspaces button.active {
    background: @workspace_active_background;
    color: @workspace_active;
    border-radius: 5px;
/*
    border-top: 2px solid @pink;
    border-bottom: 2px solid @pink;
*/
}

#workspaces button.urgent {
    background: @workspace_urgent_background;
    color: @workspace_urgent;
    border-radius: 5px;
}

#workspaces button:hover {
    background: @workspace_hover_background;
    color: @workspace_hover;
    border-radius: 5px;
}

#taskbar {
    background: @background;
    border-radius: 5px; 
    margin: 5px 10px 5px 50px;
}

tooltip {
    background: @background;
    opacity: 0.95;
/*    border-radius: 10px; */
    border-width: 2px;
    border-style: solid;
    border-color: @purple;
}

tooltip label{
    color: @grey;
}

#custom-rofi,
#custom-lock_screen,
#custom-power,
#custom-weather,
#custom-khorshididate,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#backlight,
#language {
    background: @background;
    opacity: 1;
    padding: 0px 10px;
    margin: 2px 4px;
    border-radius: 8px; 
}

#disk.critical,
#temperature.critical  {
    background-color: @critical;
}

#disk.warning,
#temperature.warning {
    background-color: @warning;
}

#battery {
    background: #6a4c8a;
    color: @green;
/*    border-radius: 5px 0px 0px 5px;  */
}

#battery.discharging {
    color: @foreground;
}

#battery.warning:not(.charging) {
    background: @warning;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    background-color: @critical;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-rofi {
    color: @arch_blue;
/*    border-radius: 5px 0px 0px 5px; */
}

#custom-power {
    color: @red;
/*    border-radius: 0px 5px 5px 0px; */
}

#clock {
    background: #504945;	
	/*    border-radius: 0px 5px 5px 0px; */
}

#tray {
    background: @background;
/*    border-radius: 5px; */
    margin: 5px 50px 5px 10px;
}

#pulseaudio {
   background: #cc8833;
}

#custom-weather{
   background: @gray;
}

#pulseaudio.microphone {
  background: #a3556c;
}

#custom-khorshididate {
    background: @blue;
}

#cpu {
    background: #9b375d; /* Custom dark pink */
}

#memory {
    /* Darker Yellow/Gold for system stats */
    background: #99712a; /* Custom dark gold */
}

#temperature {
    /* Dark Cyan/Teal for temperature */
    background: #4a7780; /* Custom dark teal */
}

#network {
    /* Darker Cyan for connection status */
    background: #338899; /* Custom dark cyan */
}


#custom-power {
    /* Red/Pink for the power button (critical action) */
    background: @pink;
}
